<% @title = 'Confirmation Email' %>
<h3><%= @title %></h3>
<p>
  Hi.<br/>
  We sent an email confirmation to <strong><%= @email.email %></strong>.
</p>
<p>
  Please check your email account and click on the link to confirm your email.
</p>
<p>(if you don't see the email, please check your junk mail folder) </p>