<h1>Apigee Sandbox</h1>
<p>This is a sandbox for facebook apps.</p>
<a href="/apigeesandbox/look_at_user_data">Look at User Data</a>
<% @title = 'facebook permission' %>
<fb:prompt-permission perms="read_stream,offline_access">Allow the sandbox application to read your stream?</fb:prompt-permission>
