<div class="external-links">
  <%= link_to 'home', root_path %>
  |
  <%= link_to 'about', :controller => 'marketing', :action => 'about' %>
  |
  <%= link_to 'feedback', 'http://tictocbloc.uservoice.com' %>
  |
  <span class="subdued">created by</span> <%= link_to 'three mermaids, llc', 'http://threemermaidsllc.com' %>
</div>